.burger{
    height: 2rem;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width:770px){
    .burger{
        height: 2.5rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}