footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $mygradient;
    height: 4rem;
    color: $background;

    img{
        display: inline-block;
        height: 2rem;
    }

    a{
        text-decoration: none;
        color: $background;

        &:hover{
            color: $font-color-main;
        }
    }
}