.modal-content{
    background: $mygradient;
    
    a{
        text-decoration: none;
        color: $background;

        &:hover{
            text-decoration: none;
        color: $font-color-main;
        }
    }

    .modal-header{
        border-bottom: none;
    }
}

