.rythm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 8rem;
    margin-bottom: 3rem;
    height: 300px;

    .rythm-bar{
        width: 1rem;
        background: $mygradient;
        transition: all ease-in .05s;
    }
}
@media screen and (max-width:770px){
    .rythm{
        width: 3rem;
        .rythm-bar{
            width: .5rem;
        }
    }
}