fieldset{
    border: transparent;
}

form{
    margin-top: 2rem;
    padding: 2rem;
    width: 50%;
    background: $mygradient;
    margin-right: auto;
    margin-left: auto;
}
form div{
    margin-top: 1rem;
}

label{
    display: block;
}
legend{
    margin-bottom: 1rem;
}
.text{
    width: 15rem;
}
textarea{
    resize: none;
    width: 30rem;
    height: 5rem;
}