header{
    position: sticky;
    top: 0;
    height: 5rem;
    background: $mygradient;
    align-items: center;
    z-index: 5;
    border-bottom: 1px solid $background;

    a img {
        height: 5rem;
        float: left;
        margin-left: 1rem;
    }

    h1{
        display: none;
    }
}


@media screen and (max-width:770px){
    header{
        height: 3rem;

        a img{
            height: 3rem;
        }
    }

    
}