html, body{
    font-family: $fontmain;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: $font-color-main;
    background-color: $background;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fontheadings;
}

ul{
    list-style-type: none;
}

h3{
    font-family: 'Titlefont', cursive;
    -webkit-text-stroke: 2px $font-color-main;
    background: $mygradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}